$med-blue: #3faae2;
$orange: #ed912c;
$red: #ee634c;
$dark-blue: #23527c;
$dark-gray: #333;

body {
	font-family: 'Muli';
	font-size: 14px;
	margin-bottom: 45px;

	.text-red {
		color: $red;
	}
	
	.ng-click-link {
		cursor: pointer;
	}
	
	.clearfix {
		clear: both;
	}
	
	.hidden {
		display: none;
	}
}

/*** navbar ***/

.navbar {
  min-height: 65px;
  background-color: $med-blue;

  .navbar-brand {
	  margin-top: -5px;
	}

	.navbar-brand img {
	  width: 65%;
	}

	.navbar-right {
	  margin-top: 8px;
	}
	
	.profile-img {
	  border-radius: 50%;
	  height: 35px;
	  width: 35px;
	}
	
	.current-user {
		padding: 10px 0 0 6px;
		
		span {
			padding-left: 5px;
		}
	}
}

/*** home and user detail pages ***/
.panel-heading {
	margin: 0 !important;
	padding: 0;
	position: relative;
	
	.delete {
		z-index: 10;
		font-size: 24px;
		color: $dark-gray;
		font-weight: bold;
		padding-right: 6px;
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		
		&:hover {
			text-decoration: none;
			opacity: 0.8;
			color: $red;
		}
	}
}

.masonry-brick {
	width: 230px;

	.loaded {
		display: block;
	}

	.panel-default {
		width: 90% !important;

		.typcn-heart-outline, 
		.typcn-heart-full-outline {
			cursor: pointer;
			color: $red;
			font-size: 20px;
		}

		img {
			width: 100%;
		}
		
		.posted-by-wrap {
			font-size: 11px;
			
			.posted-by {
				float: left;
				padding-left: 7px;
				margin-top: -2px;
			}
			
			.tiny-profile-img {
				float: left;
				position: relative;
				border-radius: 50%;
				height: 25px;
				width: 25px;
			}
		}
		
		.like {
			float: left;
			margin-top: 3px;
			
			.like-btn {
				background: transparent;
				border: 0;
			}
		}
		
		.total-likes {
			float: right;
		
			.typcn-thumbs-up {
				color: $dark-blue;
				font-size: 23px;
			}
		}
	}
}

.no-piks {
	font-size: 18px;
}

/*** login ***/
#twitter-signup span {
  font-size: 28px;
}

/*** all forms ***/
form {
	input[type="text"] {
		border-radius: 0;
		border-color: $med-blue;
	}
	
	.btn {
		background-color: $red;
	}
}

/*** footer ***/
footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: $med-blue;
  
  .text-center {
  	margin-top: -5px;
  }
  
  .typcn-social-github {
  	color: #333;
  	font-size: 26px;
  }
}