<div class="row">
	<p class="no-piks" ng-show="picks.length === 0">No Piks yet. <a href="#/signup">Sign up</a> or <a href="#/login">login</a> to add one today!</p>

	<div masonry ng-show="picks.length > 0">
		<div class="masonry-brick" ng-repeat="pick in picks">
			<div class="panel panel-default">
				<div class="panel-heading">
					<img ng-src="{{pick.image_url}}" alt="{{pick.title}}" on-error="/assets/img/camera-placeholder.jpg">
				</div>
				<div class="panel-body">
					<h4>{{pick.title}}</h4>
					
					<p>{{pick.description}}</p>
					<div class="posted-by-wrap">
						<img ng-src="{{pick.profile_image}}" class="tiny-profile-img">
						
						<div class="posted-by">
							<p>
								<a href="#/picks/user/{{pick.user_id}}">
									<strong>{{pick.display_name}}</strong>
								</a>
								<br> {{pick.created_at | amDateFormat: 'D MMM YYYY, h:mm a'}}
						  </p>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="like">
						<button class="like-btn" ng-click="likeThis(pick)" ng-disabled="!isAuthenticated()" id="{{pick._id}}">
							<span class="typcn {{pick.isLiked == false ? 'typcn-heart-outline' : 'typcn-heart-full-outline'}}"></span>
						</button> Like
					</div>
					<div class="total-likes">
							<span class="typcn typcn-thumbs-up"></span> {{picks[$index].likes}} likes
					</div>
				</div> <!-- panel-body -->
			</div> <!-- panel-default -->
		</div> <!-- masonry-brick -->
	</div>
</div>